@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-primary: #033604;
  --color-brand-secondary: #0ccf0e;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Driver Location Puck */
.driver-puck-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  height: 0;
}

.driver-puck {
  width: 20px;
  height: 20px;
  background-color: #3b82f6;
  /* Blue-500 */
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.driver-puck-halo {
  width: 60px;
  height: 60px;
  background-color: rgba(59, 130, 246, 0.2);
  /* Blue-500 with opacity */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: pulse 2s infinite;
  pointer-events: none;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}